<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>User management</h1>
            <form action="/" method="GET">
                <input type="submit" value="back">
            </form>
            <br>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out" />
            </form>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Role</th>
            <th>Lock</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${user}">
            <td th:text="${user.getUserId()}"></td>
            <td th:text="${user.getUserName()}"></td>
            <td th:text="${user.getUserRole()}"></td>
            <td><input type="checkbox" name="active" th:value="${user.getUserId()}" th:checked="${user.getUserLock() == true}" /></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
$('input:checkbox').click(function(){

    var inputText = $(this).val();

    $.ajax({
		url: this.checked ? '/admin/user_lock' : '/admin/user_unlock',
        type: 'GET',
        dataType: 'json',
        contentType: 'application/json',
        mimeType: 'application/json',
        data : ({ id: inputText }),
		success: function(msg){
		    if (msg == true) {
           	    alert("User successfully blocked!");
           	} else {
           	    alert("User successfully unlocked!");
           	}
		}
	});
});
</script>
</body>
</html>