<html>
<body>
 <div>
    <form method="post">
        <input type="text" name="name" placeholder="Введите имя" />
        <input type="text" name="age" placeholder="Возраст" />
        <input type="text" name="male" placeholder="Пол" />
        <input type="text" name="region" placeholder="Регион" />
        <input type="salary" name="salary" placeholder="Зарплата" />
        <button type="submit">Добавить</button>
    </form>
 </div>
<div>Списог чего-то</div>
 {{#internal_lab_db}}
 <b>{{id}}</b>
 <span>{{name}}</span>
 <span>{{age}}</span>
{{/internal_lab_db}}
</body>
</html>