<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Table</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div style="margin-top:100px;">
        <h2>Категории</h2>
        <div th:each="ll: ${listCategory}">
            <div th:text="${ll}"></div>
        </div>
    </div>

    <div style="margin-top:100px;">
        <h2>Страницы в категории</h2>
        <div th:each="ll: ${listPage}">
            <div th:text="${ll}"></div>
        </div>
    </div>

    <div style="margin-top:100px;">
        <h2>Url</h2>
        <div th:each="ll: ${listUrl}">
            <div th:text="${ll}"></div>
        </div>
    </div>

    <div style="margin-top:100px;">
        <h2>Кандидат</h2>
        <div th:each="entry: ${descCandidate}">
            <p th:text="'Key: ' + ${entry.key} + ', Value: ' + ${entry.value}"></p>
        </div>
    </div>
</div>
</body>
</html>