<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Table</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Парсер авито</h1>
    <div class="row">
        <div class="col-md-6">
            <p>Статус: <span th:text="${status}"></span></p>
        </div>
        <div class="col-md-6">
            <a href="/parse" class="btn btn-warning">Перезапустить парсер</a>
        </div>
    </div>

    <div>
        <h2>Категории</h2>
        <div th:each="ll: ${listCategory}">
            <span th:text="${ll.url}"></span>   -<span th:text="${ll.status}"></span>
        </div>
    </div>

    <div>
        <h2>Страницы в категории</h2>
        <div th:each="ll: ${listPage}">
            <span th:text="${ll.url}"></span>   -<span th:text="${ll.status}"></span>
        </div>
    </div>

    <div>
        <h2>Url</h2>
        <div th:each="ll: ${listUrl}">
            <span th:text="${ll.url}"></span>   -<span th:text="${ll.status}"></span>
        </div>
    </div>

    <div>
        <h2>Последний кандидат</h2>
        <div>
            <p>Name: <span th:text="${lastCandidate.name}"></span></p>
            <p>Developer: <span th:text="${lastCandidate.developer}"></span></p>
            <p>Age: <span th:text="${lastCandidate.age}"></span></p>
            <p>Gender: <span th:text="${lastCandidate.gender}"></span></p>
            <p>Experience: <span th:text="${lastCandidate.experience}"></span></p>
            <p>Region: <span th:text="${lastCandidate.region}"></span></p>
            <p>Salary: </p>
            <p>KeyWord: </p>
        </div>
    </div>
</div>
</body>
</html>